{{ define "main" }}

{{ "<!-- contact items -->" | safeHTML }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ "<!-- Addresses -->" | safeHTML }}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-thumbtack text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">Céginformáció</h4>
          <p>Egri József e.v.<br/>
            Cégjegyzékszám: 7175030<br/>
            Adószám: 63709577-2-31</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-map-marker-alt text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "address" }}</h4>
          <p>&nbsp;<br/>{{ site.Params.address | markdownify }}<br/>&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-envelope text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">Elérhetőség</h4>
          <p>{{ site.Params.email | markdownify }}<br/>&nbsp;<br/><a href="tel:+36303108120">06 30 3108120</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact item -->" | safeHTML }}

{{ "<!-- contact form and map -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">

      
      {{ with site.Params.gmap }}
      {{ if .enable }}
      <div class="col-md-5 mb-5 mb-md-0">
        <div id="map" class="gmap" data-latitude="{{.map_latitude}}" data-longitude="{{.map_longitude}}" data-marker="{{.map_marker | absURL}}" data-marker-name="{{.map_marker_name}}"></div>
      </div>
      {{ end }}
      {{ end }}


      <div class="col-md-7">
        <h3 class="section-title">{{ i18n "contact_form" }}</h3>
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-md-6">
            <input type="text" name="name" id="name" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Neve">
          </div>
          <div class="col-md-6">
            <input type="email" name="mail" id="mail" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Email-címe">
          </div>
          <div class="col-md-6">
            <input type="text" name="phone" id="phone" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Telefonszáma">
          </div>
          <div class="col-md-6">
            <input type="text" name="subject" id="subject" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Tárgy">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control border-0 rounded-0 box-shadow mb-5 py-3 px-4" placeholder="Miben segíthetünk?"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" value="send" class="btn btn-primary hover-ripple">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact form and map -->" | safeHTML }}

{{ if site.Params.gmap.enable }}
<script src="https://maps.googleapis.com/maps/api/js?key={{site.Params.gmap.gmap_api}}&libraries=places"></script>
{{ end }}

{{ end }}